{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Men's World</title>
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" />
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:300,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    <!-- Include CSS File Here -->
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<link rel="stylesheet" href="{% static 'css/mycart.css' %}"/>
<!-- Include JS File Here -->
<script src="{% static 'js/login.js' %}"></script>
  </head>
  <body>
   <header style="background-color: white; box-shadow: 0 1px 4px rgba(0, 0, 0, .1);">
    <div class="container" style="padding-top: 8px;padding-bottom: 8px;">
     <div class="grid grid-two">
       <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo" style="height: 64px ;" />

     </div>
     <div class="grid grid-two" style="padding-top: 24px;text-align: right;">
  <span><a href="{% url 'mycart' %}">My Cart</a></span>
     </div>
    </div>
   </header>
   <main class="container">

    <nav id="product-nav" class="full">
     <li><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'products' %}">Products</a></li>
     <li><a href="{% url 'about' %}">About</a></li>
     <li><a href="{% url 'contact' %}">Contact</a></li>
     <li style="float: right"><a href="{% url 'login' %}">Login</a></li>
      <li style="float: right"><a href="{% url 'register' %}">Register</a></li>
    </nav>
  </main>
  <table class="table table-bordered table-success">
    <thead>
      <tr>
        
        <th>Product Name</th>
        <th>Price</th>
        <th>Purchase</th>
      </tr>
    </thead>
    <tbody>
      {% for i in obj %}
     <tr>
       <form action="success">
       <td>{{i.name}}</td>
       <td>{{i.price}}</td>
       <input type="hidden" name="id" value="{{i.id}}">
       <input type="hidden" name="name" value="{{i.name}}">
       <input type="hidden" name="email" value="{{i.email}}">
       <td><button class="btn btn-primary" type="submit">BUY NOW</button></td>
       </form>
     </tr>
     {% endfor %}
    </tbody>
  </table>




  			

  <footer>
   <div class="container">
   <div class="full">
    <div class="grid grid-three">
    <h4 class="text-blue">PRODUCTS</h4>
     <ul>
      <li>T-shirts</li>
      <li>Jeans</li>
      <li>Shoes</li>
     </ul>
    </div>
    <div class="grid grid-three">
    <h4 class="text-blue">LINKS</h4>
     <ul>
      <li>T-shirts</li>
      <li>Jeans</li>
      <li>Shoes</li>
     </ul>
    </div>
    <div class="grid grid-three">
    <h4 class="text-blue">CONTACT</h4>
     <ul>
      <li>T-shirts</li>
      <li>Jeans</li>
      <li>Shoes</li>
     </ul>
    </div>
   </div>
   </div>
    <div style="text-align: center; padding: 16px;">
      &copy; Copyright - Sujit Dhungana 2017
    </div>
  </footer>
  <script type="text/javascript">
   (function(d) {
    var products = document.getElementsByClassName('product');
    for(var i = products.length - 1;i >= 0 ; --i) {
     products[i].onclick = function() {
      var src = this.getElementsByTagName('img')[0].src;
      document.location.href = 'demo.html#' +  src;
     }
    }
   })(document);

  </script>
 </body>
 </html>
